{% if request.user.is_authenticated %}
<header>
  <nav class="navbar navbar-light" style="background-color: lightskyblue">
    <div class="container">
      <a class="navbar-brand" href="{% url 'leads:index' %}">
        CRM
      </a>
      <form action="{% url 'leads:search' %}" class="navbar-form" method="get">
        <input id="search" name="q" type="text" class="form-control" placeholder="Поиск">
      </form>
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav nav-pills">
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'leads:tasks' %}active{% endif %}"
            href="{% url 'leads:tasks' %}"
          >
            Задачи
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'leads:leads' %}active{% endif %}"
            href="{% url 'leads:leads' %}"
          >
            Лиды
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'leads:deals' %}active{% endif %}"
            href="{% url 'leads:deals' %}"
          >
            Сделки
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'leads:sales_funnel' %}active{% endif %}"
            href="{% url 'leads:sales_funnel' %}"
          >
            Воронка продаж
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name  == 'leads:lead_create' %}active{% endif %}"
            href="{% url 'leads:lead_create' %}"
          >
            Создать лида
          </a>
        </li>
        <li>
          <div class="position-relative top-50 start-50 translate-middle px-1">
            Пользователь: {{ user.username }}
          </div>
        </li>
        <li>
          <div class="position-relative top-50 start-50 translate-middle">
            <form method="post" action="{% url 'users:logout' %}">
              {% csrf_token %}
              <button type="submit" class="btn btn-danger">Выйти</button>
            </form>
          </div>
        </li>
      </ul>
      {% endwith %}
    </div>
  </nav>
</header>
{% endif %}