{% extends "base.html" %}
{% block title %}
  Сделки
{% endblock %}
{% block content %}
    <div class="row justify-content-center">
    <div class="col-md-11 p-4">
      <div class="card">
        <div class="card-header">
          Сделки
        </div>
        <div class="card-body">

          {% for deal in object_list %}
            <div class="col p-3">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="col-3" scope="row">Лид:</th>
                    <td>
                      <a href="{% url 'leads:lead_detail' deal.lead.pk %}">
                        {{ deal.lead.name }}
                      </a>
                    </td>
                  </tr>
                  <tr>
                    <th class="col-3" scope="row">Наименование сделки:</th>
                    <td>{{ deal.name }}</td>
                  </tr>
                  <tr>
                    <th class="col-3" scope="row">Дата сделки:</th>
                    <td>{{ deal.date_of_deal|date:"d E Y" }}</td>
                  </tr>
                  <tr>
                    <th class="col-3" scope="row">Сумма сделки (₽):</th>
                    <td>{{ deal.total }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endfor %}

          {% include 'includes/paginator.html' %}

        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->

{% endblock %}