{% extends "base.html" %}
{% block title %}
  {{ lead.name }}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-11 p-4">
      <div class="card">
        <div class="card-header">
          Информация о лиде
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-2" scope="row">Имя:</th>
                <td>{{ lead.name }}</td>
              </tr>
              <tr>
                <th class="col-2" scope="row">Телефон:</th>
                <td>{{ lead.phone_number }}</td>
              </tr>
            </tbody>
          </table>
          <div class="col text-center">
            <button type="submit" class="btn btn-primary">
              Редактировать
            </button>
            <button type="submit" class="btn btn-primary">
              Добавить задачу
            </button>
          </div>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->

  <div class="row justify-content-center">
    <div class="col-md-11 p-4">
      <div class="card">
        <div class="card-header">
          Задачи
        </div>
        <div class="card-body">
          <div class="col p-2">
            <a class="btn btn-primary"
              href="{% url 'leads:task_create' lead.pk %}"
              role="button">
              Добавить задачу
            </a>
          </div>
          {% for task in tasks %}
            <div class="col p-3">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="col-2" scope="row">Дата задачи:</th>
                    <td>{{ task.task_date }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Задача:</th>
                    <td>{{ task.name }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Комментарий:</th>
                    <td>{{ task.comment }}</td>
                  </tr>
                  <tr>
                    <th colspan="2" scope="row">
                      <div class="col">
                        <a class="btn btn-primary"
                          href="{% url 'leads:task_edit' task.pk %}"
                          role="button">
                          Редактировать
                        </a>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endfor %}
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}