{% extends "base.html" %}
{% block title %}
  {{ lead.name }}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-11 col-xxl-7 p-4">
      <div class="card">
        <div class="card-header">
          Информация о лиде
        </div>
        <div class="card-body">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th class="col-2" scope="row">Имя:</th>
                <td>{{ lead.name }}</td>
              </tr>
              <tr>
                <th class="col-2" scope="row">Телефон:</th>
                <td>{{ lead.phone_number }}</td>
              </tr>
              <tr>
                <th class="col-2" scope="row">Статус:</th>
                <td>{{ lead.get_status_display }}</td>
              </tr>
              <tr>
                <th class="col-2" scope="row">Источник:</th>
                <td>{{ lead.get_source_display }}</td>
              </tr>
              <tr>
                <th class="col-2" scope="row">Комментарий:</th>
                <td>{{ lead.comment }}</td>
              </tr>
            </tbody>
          </table>
          <div class="col text-center">
            <a class="btn btn-primary"
              href="{% url 'leads:lead_edit' lead.pk %}"
              role="button"
            >
              Редактировать
            </a>
            <a class="btn btn-primary"
              href="{% url 'leads:deal_create' lead.pk %}"
              role="button"
            >
              Создать сделку
            </a>
          </div>
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
  <div class="row justify-content-center">
    <div class="col-md-11 col-xxl-7 p-4">
      <div class="card">
        <div class="card-header">
          Задачи
        </div>
        <div class="card-body">
          <div class="col p-2">
            <a class="btn btn-primary"
              href="{% url 'leads:task_create' lead.pk %}"
              role="button"
            >
              Добавить задачу
            </a>
          </div>
          {% if overdue_tasks %}
          <h2 class="text-center">Просроченные</h2>
          {% for task in overdue_tasks %}
            <div class="col p-3">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="col-2" scope="row">Дата задачи:</th>
                    <td>{{ task.task_date }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Задача:</th>
                    <td>{{ task.name }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Комментарий:</th>
                    <td>{{ task.comment }}</td>
                  </tr>
                  <tr>
                    <th colspan="2" scope="row">
                      <div class="col">
                        <a class="btn btn-primary"
                          href="{% url 'leads:task_edit' task.pk %}"
                          role="button"
                        >
                          Редактировать
                        </a>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endfor %}
          {% endif %}
          {% if scheduled_tasks %}
          <h2 class="text-center">Запланированные</h2>
          {% for task in scheduled_tasks %}
            <div class="col p-3">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="col-2" scope="row">Дата задачи:</th>
                    <td>{{ task.task_date }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Задача:</th>
                    <td>{{ task.name }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Комментарий:</th>
                    <td>{{ task.comment }}</td>
                  </tr>
                  <tr>
                    <th colspan="2" scope="row">
                      <div class="col">
                        <a class="btn btn-primary"
                          href="{% url 'leads:task_edit' task.pk %}"
                          role="button"
                        >
                          Редактировать
                        </a>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endfor %}
          {% endif %}
          {% if object_list %}
          <h2 class="text-center">Выполненные</h2>
          {% for task in object_list %}
            <div class="col p-3">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="col-2" scope="row">Дата задачи:</th>
                    <td>{{ task.task_date }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Задача:</th>
                    <td>{{ task.name }}</td>
                  </tr>
                  <tr>
                    <th class="col-2" scope="row">Комментарий:</th>
                    <td>{{ task.comment }}</td>
                  </tr>
                  <tr>
                    <th colspan="2" scope="row">
                      <div class="col">
                        <a class="btn btn-primary"
                          href="{% url 'leads:task_edit' task.pk %}"
                          role="button"
                        >
                          Редактировать
                        </a>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endfor %}
          {% include 'includes/paginator.html' %}
          {% endif %}
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
  <div class="row justify-content-center">
    <div class="col-md-11 col-xxl-7 p-4">
      <div class="card">
        <div class="card-header">
          Сделки
        </div>
        <div class="card-body">
          <div class="col p-2">
            <a class="btn btn-primary"
              href="{% url 'leads:deal_create' lead.pk %}"
              role="button"
            >
              Добавить сделку
            </a>
          </div>
          {% if deals %}
          <h2 class="text-center">Сделки</h2>
          {% for deal in deals %}
            <div class="col p-3">
              <table class="table table-bordered">
                <tbody>
                  <tr>
                    <th class="col-3" scope="row">Дата сделки:</th>
                    <td>{{ deal.date_of_deal|date:"d E Y" }}</td>
                  </tr>
                  <tr>
                    <th class="col-3" scope="row">Наименование сделки:</th>
                    <td>{{ deal.name }}</td>
                  </tr>
                  <tr>
                    <th class="col-3" scope="row">Сумма сделки (₽):</th>
                    <td>{{ deal.total }}</td>
                  </tr>
                  <tr>
                    <th colspan="2" scope="row">
                      <div class="col">
                        <a class="btn btn-primary"
                          href="{% url 'leads:deal_edit' deal.pk %}"
                          role="button"
                        >
                          Редактировать
                        </a>
                      </div>
                    </th>
                  </tr>
                </tbody>
              </table>
            </div>
          {% endfor %}
          {% endif %}
        </div> <!-- card body -->
      </div> <!-- card -->
    </div> <!-- col -->
  </div> <!-- row -->
{% endblock %}